| {% extends 'base.html' %}

-
	var steps = [
		{
			"title" : "Бриллиантовый президент",
			"name": "diamond_president",
			"achieve": "Доступен с формирования 24х 22%-х групп, с 24-мя бриллиантовыми директорами проработавшие 8 каталожных периода из 17-ти. ",
			"discount": "",
			"income": "Средний доход в месяц 2 500 000₽.",
			"icon": "true",
			"benifit": ["По достижению, выплата в 1 000 000$", "Полёты в бизнес-классе", "Зотой значок с пятью изумрудами"],
			"offset": "doubleLeft",
			"position": "left"
		},
		{
			"title" : "Сапфировый президент",
			"name": "sapphire_president",
			"achieve": "Доступен с формирования 24х 22%-х групп, с 18-ю бриллиантовыми директорами проработавшие 8 каталожных периода из 17-ти. ",
			"discount": "",
			"income": "Средний доход в месяц 1 875 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 400 000$", "Полёты в бизнес-классе", "Автомобиль Mercedes-Benz S-class в подарок", "Зотой значок с четырмя изумрудами"],
			"offset": "",
			"position": "center"
		},
		{
			"title" : "Золотой президент",
			"name": "gold_president",
			"achieve": "Доступен с формирования 24х 22%-х групп, с 12-ю бриллиантовыми директорами проработавшие 8 каталожных периода из 17-ти. ",
			"discount": "",
			"income": "Средний доход в месяц 1 500 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 300 000$", "Полёты в бизнес-классе", "Автомобиль Mercedes-Benz ML-class в подарок", "Зотой значок с тремя изумрудами"],
			"offset": "doubleRight",
			"position": "right"
		},
		{
			"title" : "Старший президент",
			"name": "mr_president",
			"achieve": "Доступен с формирования 24х 22%-х групп, с 6-ю бриллиантовыми директорами проработавшие 8 каталожных периода из 17-ти. ",
			"discount": "",
			"income": "Средний доход в месяц 1 187 500₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 200 000$", "Полёты в бизнес-классе", "Зотой значок с двумя изумрудами"],
			"offset": "right",
			"position": "right"
		},
		{
			"title" : "Президент",
			"name": "president",
			"achieve": "Доступен с формирования 24х 22%-х групп проработавшие 8 каталожных периода из 17-ти. ",
			"discount": "",
			"income": "Средний доход в месяц 1 000 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 100 000$", "Полёты в бизнес-классе", "Автомобиль Mercedes-Benz E-class в подарок", "Зотой значок с одним изумрудом"],
			"offset": "",
			"position": "right"
		},
		{
			"title" : "Бриллиантовый исполнительный директор",
			"name": "diamond_executed_director",
			"achieve": "Доступен с формирования двадцати одной 22%-х группы проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 875 000₽.",
			"icon": "true",
			"benifit": ["По достижению, выплата в 42 000$", "2-6 билета на Банкет Директоров", "Золотой значок с четырмя рубинами"],
			"offset": "right",
			"position": "right"
		},
		{
			"title" : "Сапфировый исполнительный директор",
			"name": "sapphire_executed_director",
			"achieve": "Доступен с формирования восемнадцати 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 750 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 36 000$", "2-6 билета на Банкет Директоров", "Золотой значок с тремя рубинами"],
			"offset": "doubleRight",
			"position": "right"
		},
		{
			"title" : "Золотой исполнительный директор",
			"name": "gold_executed_director",
			"achieve": "Доступен с формирования пятнадцати 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 625 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 30 000$", "2-6 билета на Банкет Директоров", "Золотой значок с двумя рубинами"],
			"offset": "",
			"position": "center"
		},
		{
			"title" : "Исполнительный директор",
			"name": "executed_director",
			"achieve": "Доступен с формирования двенадцати 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 500 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 24 000$", "2-6 билета на Банкет Директоров", "Золотой значок с рубином"],
			"offset": "doubleLeft",
			"position": "left"
		},
		{
			"title" : "Дважды бриллиантовый директор",
			"name": "twice_diamond_director",
			"achieve": "Доступен с формирования десяти 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 375 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 10 000$", "2 билета на Банкет Директоров", "Возможность участвовать в Золотой и Бриллиантовой конференциях", "Золотой значок с двумя бриллиантами"],
			"offset": "left",
			"position": "left"
		},
		{
			"title" : "Старший бриллиантовый директор",
			"name": "mr_diamond_director",
			"achieve": "Доступен с формирования восьми 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"income": "Средний доход в месяц 262 500₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 8 000$", "2-4 билета на Банкет Директоров", "Возможность участвовать в Золотой и Бриллиантовой конференциях", "Золотой значок с бриллиантом и гравировкой"],
			"offset": "",
			"position": "left"
		},
		{
			"title" : "Бриллиантовый директор",
			"name": "diamond_director",
			"achieve": "Доступен с формирования шести 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 212 500₽.",
			"icon": "true",
			"benifit": ["По достижению, выплата в 6 000$", "2-4 билета на Банкет Директоров", "Золотой значок с бриллиантом"],
			"offset": "left",
			"position": "left"
		},
		{
			"title" : "Сапфировый директор",
			"name": "sapphire_director",
			"achieve": "Доступен с формирования четырёх 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 137 500₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 4 000$", "2 билета на Банкет Директоров", "Золотой значок с сапфиром"],
			"offset": "doubleLeft",
			"position": "left"
		},
		{
			"title" : "Старший золотой директор",
			"name": "mr_gold_director",
			"achieve": "Доступен с формирования трёх 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 100 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 3 000$", "2 билета на Банкет Директоров", "Возможность участвовать в Золотой конференции"],
			"offset": "",
			"position": "center"
		},
		{
			"title" : "Золотой директор",
			"name": "gold_director",
			"achieve": "Доступен с формирования двух 22%-х групп проработавшие 8 каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 75 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 2 000$", "2 билета на Банкет Директоров", "Возможность участвовать в Золотой конференции", "Золотой значок"],
			"offset": "doubleRight",
			"position": "right"
		},
		{
			"title" : "Старший Директор",
			"name": "mr_director",
			"achieve": "Доступен с формированием одной 22х %-ой группы  и накоплением минимума 7500 бонусных баллов в Персональной группе ИЛИ минимум две 22х %-ые группы, которе будут в ударе на протяжение 8-ми каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 50 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 1 500$", "2 билета на Банкет Директоров", "Серебряный значок с гравировкой"],
			"offset": "right",
			"position": "right"
		},
		{
			"title" : "Директор",
			"name": "director",
			"achieve": "Квалификация Старшего Менеджера в течение 8-ми каталожных периода из 17-ти.",
			"discount": "",
			"income": "Средний доход в месяц 33 000₽.",
			"icon": "",
			"benifit": ["По достижению, выплата в 1 000$", "2 билета на Банкет Директоров", "Серебряный значок"],
			"offset": "",
			"position": "right"
		},
		{
			"title" : "Старший менеджер",
			"name": "mr_manager",
			"achieve": "Доступен с накоплением минимума 7500 бонусных баллов, минимум 3000 бонусных баллов Персональной группой и минимум 3000 бонусных баллов одной персональной группой члена клуба.",
			"discount": "Постоянная скидка в 22%.",
			"income": "Средний доход в месяц 27 500₽.",
			"icon": "true",
			"benifit": ["Возможность участвовать в семинарах Директоров"],
			"offset": "right",
			"position": "right"
		},
		{
			"title" : "Менеджер",
			"name": "manager",
			"achieve": "Доступен с накоплением группой от 1800 до 3000 бонусных баллов.",
			"discount": "Скидка на товары в 9-18%.",
			"income": "Средний доход 500$.",
			"icon": "",
			"benifit": ["Значок с цветной эмалью"],
			"offset": "doubleRight",
			"position": "right"
		},
		{
			"title" : "Консультант",
			"name": "consultant",
			"achieve": "Точка старта для каждого партнёра.",
			"discount": "Скидка на товары в 0-6%.",
			"income": "Средний доход 25$.",
			"icon": "",
			"benifit": ["Продукция по специальной цене","Стартовая Программа", "Привилегии Премьер-клуба"],
			"offset": "",
			"position": "center"
		}
	];
| {% block content %}
//- include ../snippets/opportunities/main/main.pug
section.business
	h1.mainTitle Внутренняя кухня Oriflame
	article.section
		h2.section__title Шаг за шагом
		p.section__paragraph Приходя  в Орифлейм, вы начинаете проходить <a class="slideTo" href="#ladder">ступени лестницы</a>, стремительно поднимаясь на вершину. Вместе с поднятием веса вашего статуса, с вами растут ваш доход и связи.
		p.section__paragraph На пути вас ожидают разнообразные бонусы в виде скидок от 20 до 32%, но порой, появляются скидки, которые не смогут не взбудоражить ваше воображение.
	article.section
		h2.section__title Набор в группу
		p.section__paragraph По мере восхождения на Эверест, вы будете собирать товарищей, которые будут в вашей команде.
		p.section__paragraph Они будут начинать точно с той же ступени, что и начинали вы, и для них вы станете поддержкой свыше! Ваша команда будет обладать товарооборотом, процент от которого будет идти вам. В зависимости от вашего уровня, процент будет варьироваться(от 3% до 22%).
		p.section__paragraph В свою очередь, люди находящиеся в вашей команде, смогу основать свою собственную команду, где смогут стать предводителями своего тайного круга.
	article.section
		h2.section__title поход на огненную гору
		p.section__paragraph Приложив немного желания и труда, можно достигнуть большого результата, который в будущем останется при вас. В Oriflame есть страховка, которая гарантирует вам постоянство того уровня, который вы получили при восхождение по лестнице и сохранение вашей команды в целости и сохранности.
		p.section__paragraph Нашим делом занимаются многие и многие уже достигли финансового благополучия зарабатывая в месяц более 100 000 рублей. А вместе с деньгами, они получили бонус в виде внутренней и внешней красоты!
	article.section.section_ladder#ladder
		h2.section__title Путь короля
		ul.ladder
			each step, i in steps
				li.ladderStep.showPopup(class="ladderStep_" + step.name + " ladderStep_" + step.position + " ladderStep_" + step.offset + "Offset", data-popup-id='#' + step.name, data-index= i)
					if step.icon
						.ladderStep__image.imageContainer(
							class="ladderStep__image_" + step.name + " imageContainer_" + step.name
						)
							figure.imageContainer__image(
								class="imageContainer__image_" + step.name
							)
					h3.ladderStep__title= step.title
					.ladderStep__description.description.description_left.description_beneath.description_black.visible-hidden(id= step.name)
						h4.description__title.parent= step.title
							button.closeButton.child(data-popup-id='#' + step.name)
								i.fas.fa-times
						.descriptionContent
							p.ladderStep__achieve= step.achieve
							if step.discount
								p.ladderStep__discount= step.discount
							p.ladderStep__income= step.income
							if step.benifit
								article.ladderStepBenifit
									h5.ladderStepBenifit__title Дополнительная выгода
									ul.benifitList
										each benifit in step.benifit
											li.benifitListItem= benifit

			li.ladderStep.ladderStep_registration.ladderStep_doubleLeftOffset.ladderStep_left
				.ladderStep__image.imageContainer(
							class="ladderStep__image_registrationStep imageContainer_registrationStep"
						)
							figure.imageContainer__image(
								class="imageContainer__image_registrationStep"
							)
				a(href="{% url 'registration' %}").ladderStep__refer Регистрация

| {% endblock %}
