| {% extends 'base.html' %}
- 
	var slides = [
		{
			'name': 'hike',
			'description': 'Мы команда консультантов. Работаем с Oriflame, зарабатываем на продаже различных полезных предметов: разнообразная косметика, аксессуары и вкусные, но и, самое главное, полезные продукты. А самый главный доход идёт с сформированной команды! Мы никогда не скучаем и имеем кучу бонусов.'
		},
		{
			'name': 'team',
			'description': 'Мы любим своих товарищей и стараемся помогать им развиваться в сфере, где работаем. Если у вас есть желание делать дело, мы готовы приложить все усилия для достижения результата!'
		},
		{
			'name': 'business',
			'description': 'Помимо нашей поддержки, вы будете обладать разными привилегиями на разнообразные предметы в каталогах oriflame. В них вы найдёте море интересных вещей для вас и ваших близких! Или же делать бизнес на стороне;).'
		},
		{
			'name': 'quest',
			'description': 'Мы создаём для консультантов акции, участие в которых сулит богатство тому, кто выполнит все  условия акции. Вы любите интересные задания?'
		},
		{
			'name': 'registration',
			'description': "Пройдя регистрацию, вы официально станете любимым членом нашей замечательной команды!"
		}];
		var chains = [
			{
				'name': 'programm',
				"image": "programm.png",
				"title": "Стартовая программа",
				"description": "Стартовая программа — это квест. Суть квеста заключается в прохождение каких-либо условий для достижения награды."
			},
			{
				'name': 'group',
				"image": "group.png",
				"title": 'Задание "Стартовой программы"',
				"description": "Чтобы выполнить квест, нужно вступить в группу и размещать заказы, за которые вы получите опыт в виде бонусных баллов."
			},
			{
				'name': 'stage',
				"image": "stage.png",
				"title": 'Этапы "Статовой программы"',
				"description": "Достигнув отметки в 100 бонусных баллов, вы продвинетесь на следущий этап квеста и сделаете шаг к более ценной награде! Кстати говоря, каждый этап длиться 21 день, как один каталожный период."
			},
			{	
				'name': 'gifts',
				"image": "gifts.png",
				"title": "Количество этапов",
				"description": "Конечно же, вы сможете завершить их до окончания всех каталожных периодов. Всего 4 этапа с экспоненциально увеличивающейся выгодой. Убедитесь в этом сами! "
			}
		];
		var items = [
			{
				"title": "1 этап",
				"itemName": "Набор первого этапа",
				'name': 'step_1',
				"description": "Питательный крем для рук и тела\n\nМолоко и Мед - Золотая серия (код 31602)\n\nКрем-мыло Молоко и мед – Золотая серия (код 31604)\n\nУвлажняющий крем для душа Молоко и мед – Золотая серия (код 31605)\n\nСпециальное смягчающее средство Нежная забота (код 1276)",
				"profit": "Разница с ценой в каталоге составит 1033 + 5% от суммы набора"
			},
			{
				"title": "2 этап",
				"itemName": "Набор второго этапа",
				'name': 'step_2',
				"description": "Набор продуктов The ONE: губная помада The ONE Colour Stylist (оттенок «Дивный пион») и тушь для ресниц 5-в-11 The ONE Wonderlash (оттенок «Черный»). Модные тенденции, универсальные решения на каждый день и секреты мастерства бьюти-экспертов — бренд The ONE поможет тебе перенести образы с подиума в жизнь!",
				"profit": "Разница с ценой в каталоге составит 2066 + 5% от суммы набора"
			},
			{
				"title": "3 этап",
				"itemName": "Набор третьего этапа",
				'name': 'step_3',
				"description": "Комплимент по вкусу: продукты Optimals Age Revive (код 540211; антивозрастной дневной и ночной крем, а также крем для кожи вокруг глаз) или туалетную воду Eclat Femme для нее (код 540212) или Eclat Homme для него (код 540213).",
				"profit": "Разница с ценой в каталоге составит 3099 + 5% от суммы набора"
				
			},
			{
				"title": "4 этап",
				"itemName": "Набор для женщин",
				'name': 'w_step_4',
				"description": "«Вэлнэс Пэк» для женщин (540214)",
				'secondName': 'm_step_4',
				"secondItemName": "Набор для мужчин",
				'secondDescription': '«Вэлнэс Пэк» для мужчин (код 540215)',
				"profit": "Разница с ценой в каталоге составит 4 130 + 5% от суммы набора",
				"secondProfit": "Разница с ценой в каталоге составит 4 130 + 5% от суммы набора"
			},
		];
	var FAQ = [
		{
			"title": "— Что такое ORIFLAME?",
			"paragraphs": ["Компания, стоящая в авангарде, несущая свой штандарт в разработке и продаже косметических, гигиенических средств, здоровой агропромышленной продукции и украшений для мужчин, женщин и детей. Так можно описать компанию, с которой мы работаем."]
		},
		{
			"title": "— Что ORIFLAME производит?",
			"paragraphs": ["Продукцию Oriflame производят высококлассные научные инженеры. В своей работе, они применяют не менее высоколассное оборудование, беря лучшее сырьё из природы. Они, как шаманы современного мира, смешивающие в своём котле фрукты, цветы и самые разнообразные экзотические растения. "]
		},
		{
			"title": "— в чём смысл жизни ORIFLAME?",
			"paragraphs": ["Разрабатывая косметику, специалисты придерживаются разработке продукта, имеющий не только декоративные свойства, но и поддерживающий организм в тонусе настолько, насколько это возможно.", "Велнес — это деньги, потраченные на то, чтобы чувствовать себя более здоровым, даже если вы не “больны” по обычным медицинским параметрам. Сегодня главная потребность большинства людей не в деньгах, а в здоровье."]
		}
	];
	var catalogs = [
		{
			"href": 'http://ru.oriflame.com/ecatalogue/502181?per=201609',
			"color": "red" 
		},
		{
		"href": 'http://ru.oriflame.com/ecatalogue/502181?per=201609',
		"color": "purple" 
		},
		{
		"href": 'http://ru.oriflame.com/ecatalogue/502181?per=201609',
		"color": "red" 
		},
		{
		"href": 'http://ru.oriflame.com/ecatalogue/502181?per=201609',
		"color": "purple" 
		}
	];
| {% block content %}
//- script.
//- 	$L = $L.script("slider.js");
.mainSlider
	h2.visible-hidden Слайдер
	#mainSlider.owl-carousel
		each slide, i in slides
			.slide
				//- picture
				//- 	source(srcset="/static/cosmeticsyou/img/slides/" + slide.name + '.jpg', media="screen")
				//- 	img.image(src="/static/cosmeticsyou/img/chains/" + slide.name + '.jpg')
				.imageContainer(class="imageContainer_" + slide.name)
					figure.imageContainer__image(class="imageContainer__image_" + slide.name)
				p.slide__description.parent.centered(class="slide__description_" + slide.name)= slide.description
					if slide.name == 'registration'
						span.slide__button.registrationButton.registrationButton_purple
							a.registrationButton__refer(href="{% url 'registration' %}") Зарегистрироваться
section.programm.parent.centered#programm
	h2.programm__title.child С чёго стоит начать?  
	each chain in chains
		article.chain.parent
			h3.chain__title.visible-hidden= chain.title
			picture.chainImage.child
				source(srcset="/static/cosmeticsyou/img/chains/" + chain.name + '.jpg', media="screen")
				img.image.lazy.materialShadow.chainImage__image(data-src="/static/cosmeticsyou/img/chains/" + chain.name + '.jpg')
			p.chain__paragraph.child.parent.centered= chain.description
//- begin items
ul.items.parent.restrictBlock
	each item in items 
		//- begin item
		li.item.item_upper.child.parent.centered
			if item.secondName
				//- begin choices
				ul.choices.parent.child
					li.choice.child
						button.choice__button.button.button_purple(
							data-src='/static/cosmeticsyou/img/steps/w_step_4.jpg', 
							data-popup-id="#" + item.name,
							aria-pressed="false"
						) Женщинам
					li.choice.child
						button.choice__button.button.button_red(
							data-src='/static/cosmeticsyou/img/steps/m_step_4.jpg',
						 	data-popup-id="#" + item.secondName,
						 	aria-pressed="false"
						) Мужчинам
				//- end choices
			h3.item__title= item.title
			.imageContainer.item__image(class="imageContainer_" + item.name)
				if item.secondName
					figure#figureWithChoice.imageContainer__image.showPopup(
						data-popup-id="#" + item.name,
						class="imageContainer__image_" + item.name
					)
				else
					figure.imageContainer__image.showPopup(
						data-popup-id="#" + item.name,
						class="imageContainer__image_" + item.name
					)

			.itemDescription.description.description_black.description_inline.visible-hidden(id= item.name)
				h4.description__title.parent= item.itemName
					button.item__closeButton.closeButton.child(data-popup-id="#" + item.name, aria-pressed="false")
						i.fas.fa-times.fa-1x
				.description__content
					p.itemDescription__description= item.description
					if item.price
						p.itemDescription__price Обычная цена: 
							strong #{item.price}₽
					if item.comparePrice
						p.itemDescription__comparePrice Цена на новом этапе: 
							strong #{item.comparePrice}₽
					if item.profit
						p.itemDescription__profit Профит: 
							strong #{item.profit}₽
			if item.secondName
				.itemDescription.description.description_black.visible-hidden.description_inline(id= item.secondName)
					h4.description__title.parent= item.secondItemName
						button.item__closeButton.closeButton.child(data-popup-id="#" + item.secondName, aria-pressed="false")
							i.fas.fa-times.fa-1x
					.description__content
						p.itemDescription__description= item.secondDescription
						if item.secondPrice
							p.itemDescription__price Обычная цена: 
								strong #{item.secondPrice}₽
						if item.secondComparePrice
							p.itemDescription__comparePrice Цена на новом этапе: 
								strong #{item.secondComparePrice}₽
						if item.secondProfit
							p.itemDescription__profit Профит: 
								strong #{item.secondProfit}₽
		//- end item
//- end items
//- begin registration__main
.registrationButton.main__registrationButton.registrationButton_red.registrationButton_centered
	a.registrationButton__refer(href="{% url 'registration' %}") Регистрация
//- end registration__main
//- begin questions
section.questions
	h2.visible-hidden Часто задаваемые вопросы
	//- begin question
	each question in FAQ
		article.question
			h3.question__title= question.title
			each answer in question.paragraphs
				p.question__paragraph= answer

//- end questions
//- begin catalogs
section.catalogs
	h2.catalogs__title Каталоги
	ul.catalogsList#catalogs.owl-carousel
		each catalog, i in catalogs
			li.catalog.slide(class="catalog_"+ catalog.color, data-index= i)
				a.catalog__refer.now-follow(href= catalog.href)
					picture
						source(srcset="https://ru.oriflame.com/catalogue-image.png", media="screen")
						img.image(src="https://ru.oriflame.com/catalogue-image.png")
					
//- end catalogs

| {% endblock %}