| {% load static %}
doctype
html.no-js(lang="ru")
head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0"
    )
    | {% if meta %}
    meta(
      name='description',
      meta='{{ meta }}'
    )
    | {% endif %}
    
    meta(name="format-detection" content="telephone={{ settings.phone }}")

    //- link(rel='dns-prefetch' href="https://ori.ru")
    //- link(rel='subresource' href="/static/ori/css/main.css")
    //- link(rel='subresource' href="/static/ori/js/main.js")
    //- link(rel='subresource' href="/static/ori/js/registration.js")
    //- link(rel='subresource' href="/static/ori/js/media.js")
    //- 
    //- link(rel='prerender' href="/")
    //- link(rel='prerender' href="/registration")
    //- link(rel='prerender' href="/business")
    //- link(rel='prerender' href="/media")
    //- link(rel='prerender' href="/shares")
      //- 
    //- link(rel='preload' href="/static/ori/css/main.css" as="style")
    //- link(rel='preload' href="/static/ori/js/main.js" as="script")
    //- link(rel='preload' href="/static/ori/js/registration.js" as="script")
    //- link(rel='preload' href="/static/ori/js/media.js" as="script")
    //- <link rel="apple-touch-icon" sizes="57x57" href="/static/ori/img/appIcons/apple-icon-57x57.png">
    //- <link rel="apple-touch-icon" sizes="60x60" href="/static/ori/img/appIcons/apple-icon-60x60.png">
    //- <link rel="apple-touch-icon" sizes="72x72" href="/static/ori/img/appIcons/apple-icon-72x72.png">
    //- <link rel="apple-touch-icon" sizes="76x76" href="/static/ori/img/appIcons/apple-icon-76x76.png">
    //- <link rel="apple-touch-icon" sizes="114x114" href="/static/ori/img/appIcons/apple-icon-114x114.png">
    //- <link rel="apple-touch-icon" sizes="120x120" href="/static/ori/img/appIcons/apple-icon-120x120.png">
    //- <link rel="apple-touch-icon" sizes="144x144" href="/static/ori/img/appIcons/apple-icon-144x144.png">
    //- <link rel="apple-touch-icon" sizes="152x152" href="/static/ori/img/appIcons/apple-icon-152x152.png">
    //- <link rel="apple-touch-icon" sizes="180x180" href="/static/ori/img/appIcons/apple-icon-180x180.png">
    //- <link rel="icon" type="image/png" sizes="192x192"  href="/static/ori/img/appIcons/android-icon-192x192.png">
    //- <link rel="icon" type="image/png" sizes="32x32" href="/static/ori/img/appIcons/favicon-32x32.png">
    //- <link rel="icon" type="image/png" sizes="96x96" href="/static/ori/img/appIcons/favicon-96x96.png">
    //- <link rel="icon" type="image/png" sizes="16x16" href="/static/ori/img/appIcons/favicon-16x16.png">
    <link rel="manifest" href="/static/ori/manifest.json">

    <meta name="msapplication-TileColor" content="#333">
    //- <meta name="msapplication-TileImage" content="/static/ori/img/appIcons/ms-icon-144x144.png">
    
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="theme-color" content="#f1f1f1")
    link(
      rel="canonical",
      href='https://ori.ru/'
    )
    meta(
      http-equive="X-UA-Compatible",
      content="IE=edge"
    )

    link(
      rel="stylesheet",
      href="/css/fonts.css",
      media="none",
      onload="if(media!=='all')media='all'",
      lazyload="1"
    )

    noscript
       link(
        rel="stylesheet",
        href="ori/css/fonts.css",
        media="all"
      ) 
    link(
        rel="stylesheet",
        href="/css/main.css",
        media="none",
        onload="if(media!=='all')media='all'",
    )

    noscript
       link(
        rel="stylesheet",
        href="/css/main.css",
        media="all"
      ) 

    | {% if title %}
    title {{ title|safe }}
    | {% else %}
    | {% block title %}
    | {% endblock %}
    | {% endif %}
    
    //- style.
    //-   .sk-chasing-dots {
    //-     position: fixed;
    //-     top: 40%;
    //-     left: calc(50% - 30px);
    //-     width: 60px;
    //-     height: 60px;
      
    //-     -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    //-             animation: sk-chasingDotsRotate 2s infinite linear; }
    //-   .curtains {
    //-     width: 100%;
    //-     height: 100%;
    //-     position: fixed;
    //-     z-index: 100;
    //-     -webkit-transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
    //-     -o-transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
    //-     transition: opacity .3s ease-in-out, z-index .3s ease-in-out;
    //-     will-change: opacity;
    //-     opacity: 1;
    //-   }
    //-   .curtains_hidden {
    //-       opacity: 0;
    //-       z-index: -100;
    //-   }
    //-   .curtains {
    //-     top: 0;
    //-     left: 0;
    //-     background-color: #f7f7f7;
    //-   }
      
    //-   .sk-chasing-dots .sk-child {
    //-     width: 60%;
    //-     height: 60%;
    //-     display: inline-block;
    //-     position: absolute;
    //-     top: 0;
        
    //-     border-radius: 100%;
    //-     -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    //-             animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
    //-   .sk-chasing-dots .sk-dot1 {
    //-     background-color: #99303B;
    //-   }
    //-   .sk-chasing-dots .sk-dot2 {
    //-     top: auto;
    //-     bottom: 0;
    //-     background-color: #654178;
    //-     -webkit-animation-delay: -1s;
    //-             animation-delay: -1s; }

    //-   @-webkit-keyframes sk-chasingDotsRotate {
    //-     100% {
    //-       -webkit-transform: rotate(360deg);
    //-               transform: rotate(360deg); } }

    //-   @keyframes sk-chasingDotsRotate {
    //-     100% {
    //-       -webkit-transform: rotate(360deg);
    //-               transform: rotate(360deg); } }

    //-   @-webkit-keyframes sk-chasingDotsBounce {
    //-     0%, 100% {
    //-       -webkit-transform: scale(0);
    //-               transform: scale(0); }
    //-     50% {
    //-       -webkit-transform: scale(1);
    //-               transform: scale(1); } }

    //-   @keyframes sk-chasingDotsBounce {
    //-     0%, 100% {
    //-       -webkit-transform: scale(0);
    //-               transform: scale(0); }
    //-     50% {
    //-       -webkit-transform: scale(1);
    //-               transform: scale(1); } }
    
body
  //- .curtains.
  //-   <div class="sk-chasing-dots">
  //-     <div class="sk-child sk-dot1"></div>
  //-     <div class="sk-child sk-dot2"></div>
  //-   </div>
  
  include ./templates/_header.pug

  //- Main Content
  main.main#main
    span there
    //- | {% block content %}
    //- | {% endblock %}

  // Footer
  include ./templates/_footer.pug
  //- <script src="/js/vendor.js"></script>
  <script src="/js/main.js"></script>
  <script async src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!--[if IE]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

script.
  //- if ('serviceWorker' in navigator) {
  //-     navigator.serviceWorker.register('/js/sw.js')
  //-       .then(function(reg){
  //-            console.log('ServiceWorker registration successful with scope: ', reg.scope);
  //-       }).catch(function(err) {
  //-         console.log("No it didn't. This happened: ", err)
  //-       });
  //-   }

| {% if settings.widgets %}
| {{ settings.widgets|safe }}
| {% endif %}
| {% block internal_page_script %}
| {% endblock %}
<!-- /Yandex.Metrika counter -->